In [12]:
import pandas as pd
import numpy as np

In [15]:
New_weather_steps = pd.read_csv("Target_weather_steps.csv")
New_weather_steps = New_weather_steps.drop("Unnamed: 0",axis=1)
display(New_weather_steps)

,start,end,value_steps,value_heart,value_workout,combined
0,2022-01-01 00:00:00,2022-01-01 00:10:00,38.841808,82.0,no workout,5.0
1,2022-01-01 00:10:00,2022-01-01 00:20:00,156.509531,77.5,no workout,5.0
2,2022-01-01 00:20:00,2022-01-01 00:30:00,97.817536,78.5,no workout,5.0
3,2022-01-01 00:30:00,2022-01-01 00:40:00,53.407172,73.5,no workout,5.0
4,2022-01-01 00:40:00,2022-01-01 00:50:00,0.000000,75.5,no workout,5.0
...,...,...,...,...,...,...
75020,2023-06-05 23:20:00,2023-06-05 23:30:00,0.000000,60.5,no workout,5.0
75021,2023-06-05 23:30:00,2023-06-05 23:40:00,0.000000,61.0,no workout,5.0
75022,2023-06-05 23:40:00,2023-06-05 23:50:00,0.000000,61.0,no workout,5.0
75023,2023-06-05 23:50:00,2023-06-06 00:00:00,0.000000,61.0,no workout,5.0
75024,2023-06-06 00:00:00,2023-06-06 00:10:00,0.000000,59.5,no workout,5.0

In [16]:
New_weather_steps['value_heart'] = New_weather_steps['value_heart'].interpolate()
display(New_weather_steps.iloc[:15])

,start,end,value_steps,value_heart,value_workout,combined
0,2022-01-01 00:00:00,2022-01-01 00:10:00,38.841808,82.000000,no workout,5.0
1,2022-01-01 00:10:00,2022-01-01 00:20:00,156.509531,77.500000,no workout,5.0
2,2022-01-01 00:20:00,2022-01-01 00:30:00,97.817536,78.500000,no workout,5.0
3,2022-01-01 00:30:00,2022-01-01 00:40:00,53.407172,73.500000,no workout,5.0
4,2022-01-01 00:40:00,2022-01-01 00:50:00,0.000000,75.500000,no workout,5.0
5,2022-01-01 00:50:00,2022-01-01 01:00:00,23.000000,75.455767,no workout,5.0
6,2022-01-01 01:00:00,2022-01-01 01:10:00,34.890815,74.500000,no workout,5.0
7,2022-01-01 01:10:00,2022-01-01 01:20:00,43.919015,75.000000,no workout,5.0
8,2022-01-01 01:20:00,2022-01-01 01:30:00,62.288614,72.000000,no workout,5.0
9,2022-01-01 01:30:00,2022-01-01 01:40:00,116.399261,69.666667,no workout,5.0
10,2022-01-01 01:40:00,2022-01-01 01:50:00,296.394729,73.000000,no workout,5.0
11,2022-01-01 01:50:00,2022-01-01 02:00:00,32.521173,68.500000,no workout,5.0
12,2022-01-01 02:00:00,2022-01-01 02:10:00,0.000000,73.000000,no workout,5.0
13,2022-01-01 02:10:00,2022-01-01 02:20:00,0.000000,70.333333,no workout,5.0
14,2022-01-01 02:20:00,2022-01-01 02:30:00,26.824818,73.000000,no workout,5.0

In [17]:
print(New_weather_steps.isna().sum())

start            0
end              0
value_steps      0
value_heart      0
value_workout    0
combined         0
dtype: int64