In [1]:
import pandas as pd
import numpy as np

In [5]:
New_weather_steps = pd.read_csv("Target_weather_steps.csv")
New_weather_steps = New_weather_steps.drop("Unnamed: 0",axis=1)
display(New_weather_steps.iloc[14:60])

,start,end,value_steps,value_heart,value_workout,combined
14,2022-01-01 02:20:00,2022-01-01 02:30:00,26.824818,73.0,1,5.0
15,2022-01-01 02:30:00,2022-01-01 02:40:00,171.350487,71.0,1,5.0
16,2022-01-01 02:40:00,2022-01-01 02:50:00,92.865151,75.0,1,5.0
17,2022-01-01 02:50:00,2022-01-01 03:00:00,0.000000,NaN,1,5.0
18,2022-01-01 03:00:00,2022-01-01 03:10:00,5.000000,NaN,1,5.0
19,2022-01-01 03:10:00,2022-01-01 03:20:00,0.000000,NaN,1,5.0
20,2022-01-01 03:20:00,2022-01-01 03:30:00,0.000000,NaN,1,5.0
21,2022-01-01 03:30:00,2022-01-01 03:40:00,0.000000,NaN,1,5.0
22,2022-01-01 03:40:00,2022-01-01 03:50:00,0.000000,NaN,1,5.0
23,2022-01-01 03:50:00,2022-01-01 04:00:00,0.000000,NaN,1,5.0
24,2022-01-01 04:00:00,2022-01-01 04:10:00,0.000000,NaN,1,5.0
25,2022-01-01 04:10:00,2022-01-01 04:20:00,0.000000,NaN,1,5.0
26,2022-01-01 04:20:00,2022-01-01 04:30:00,0.000000,NaN,1,5.0
27,2022-01-01 04:30:00,2022-01-01 04:40:00,0.000000,NaN,1,5.0
28,2022-01-01 04:40:00,2022-01-01 04:50:00,0.000000,NaN,1,5.0
29,2022-01-01 04:50:00,2022-01-01 05:00:00,0.000000,NaN,1,5.0
30,2022-01-01 05:00:00,2022-01-01 05:10:00,0.000000,NaN,1,5.0
31,2022-01-01 05:10:00,2022-01-01 05:20:00,0.000000,NaN,1,5.0
32,2022-01-01 05:20:00,2022-01-01 05:30:00,0.000000,NaN,1,5.0
33,2022-01-01 05:30:00,2022-01-01 05:40:00,0.000000,NaN,1,5.0
34,2022-01-01 05:40:00,2022-01-01 05:50:00,0.000000,NaN,1,5.0
35,2022-01-01 05:50:00,2022-01-01 06:00:00,0.000000,NaN,1,5.0
36,2022-01-01 06:00:00,2022-01-01 06:10:00,0.000000,NaN,1,5.0
37,2022-01-01 06:10:00,2022-01-01 06:20:00,0.000000,NaN,1,5.0
38,2022-01-01 06:20:00,2022-01-01 06:30:00,0.000000,NaN,1,5.0
39,2022-01-01 06:30:00,2022-01-01 06:40:00,0.000000,NaN,1,5.0
40,2022-01-01 06:40:00,2022-01-01 06:50:00,0.000000,NaN,1,5.0
41,2022-01-01 06:50:00,2022-01-01 07:00:00,0.000000,NaN,1,5.0
42,2022-01-01 07:00:00,2022-01-01 07:10:00,0.000000,NaN,1,5.0
43,2022-01-01 07:10:00,2022-01-01 07:20:00,0.000000,NaN,1,5.0
44,2022-01-01 07:20:00,2022-01-01 07:30:00,0.000000,NaN,1,5.0
45,2022-01-01 07:30:00,2022-01-01 07:40:00,0.000000,NaN,1,5.0
46,2022-01-01 07:40:00,2022-01-01 07:50:00,0.000000,NaN,1,5.0
47,2022-01-01 07:50:00,2022-01-01 08:00:00,0.000000,NaN,1,5.0
48,2022-01-01 08:00:00,2022-01-01 08:10:00,0.000000,NaN,1,5.0
49,2022-01-01 08:10:00,2022-01-01 08:20:00,0.000000,NaN,1,5.0
50,2022-01-01 08:20:00,2022-01-01 08:30:00,0.000000,NaN,1,5.0
51,2022-01-01 08:30:00,2022-01-01 08:40:00,0.000000,NaN,1,5.0
52,2022-01-01 08:40:00,2022-01-01 08:50:00,0.000000,NaN,1,5.0
53,2022-01-01 08:50:00,2022-01-01 09:00:00,0.000000,NaN,1,5.0
54,2022-01-01 09:00:00,2022-01-01 09:10:00,0.000000,NaN,1,5.0
55,2022-01-01 09:10:00,2022-01-01 09:20:00,0.000000,NaN,1,5.0
56,2022-01-01 09:20:00,2022-01-01 09:30:00,0.000000,NaN,1,5.0
57,2022-01-01 09:30:00,2022-01-01 09:40:00,0.000000,NaN,1,5.0
58,2022-01-01 09:40:00,2022-01-01 09:50:00,0.000000,NaN,1,5.0
59,2022-01-01 09:50:00,2022-01-01 10:00:00,0.000000,NaN,1,5.0

In [16]:
New_weather_steps['value_heart'] = New_weather_steps['value_heart'].interpolate()
display(New_weather_steps.iloc[:15])

,start,end,value_steps,value_heart,value_workout,combined
0,2022-01-01 00:00:00,2022-01-01 00:10:00,38.841808,82.000000,no workout,5.0
1,2022-01-01 00:10:00,2022-01-01 00:20:00,156.509531,77.500000,no workout,5.0
2,2022-01-01 00:20:00,2022-01-01 00:30:00,97.817536,78.500000,no workout,5.0
3,2022-01-01 00:30:00,2022-01-01 00:40:00,53.407172,73.500000,no workout,5.0
4,2022-01-01 00:40:00,2022-01-01 00:50:00,0.000000,75.500000,no workout,5.0
5,2022-01-01 00:50:00,2022-01-01 01:00:00,23.000000,75.455767,no workout,5.0
6,2022-01-01 01:00:00,2022-01-01 01:10:00,34.890815,74.500000,no workout,5.0
7,2022-01-01 01:10:00,2022-01-01 01:20:00,43.919015,75.000000,no workout,5.0
8,2022-01-01 01:20:00,2022-01-01 01:30:00,62.288614,72.000000,no workout,5.0
9,2022-01-01 01:30:00,2022-01-01 01:40:00,116.399261,69.666667,no workout,5.0
10,2022-01-01 01:40:00,2022-01-01 01:50:00,296.394729,73.000000,no workout,5.0
11,2022-01-01 01:50:00,2022-01-01 02:00:00,32.521173,68.500000,no workout,5.0
12,2022-01-01 02:00:00,2022-01-01 02:10:00,0.000000,73.000000,no workout,5.0
13,2022-01-01 02:10:00,2022-01-01 02:20:00,0.000000,70.333333,no workout,5.0
14,2022-01-01 02:20:00,2022-01-01 02:30:00,26.824818,73.000000,no workout,5.0

In [17]:
print(New_weather_steps.isna().sum())

start            0
end              0
value_steps      0
value_heart      0
value_workout    0
combined         0
dtype: int64